$blue-color: #0285e4;
$white-color: #ffffff;
$black-color: #000000;
$black-color2: #0c0b1b;
$black-color3: #262626;
$violet-color: #9b51e0;
$red-color: #ba0001;
$green-color: #00ba61;
$background-btnMain: linear-gradient(103.91deg, #9b51e0 21.01%, rgba(48, 129, 237, 0.8) 100%);
